* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: sans-serif;
    padding: 20px;
}

* {
    border: 1px solid red !important;
}

section {
    margin-top: 40px;
    padding: 20px;
}